body { /* 0,0,0,1 */
    color:blue;
}
/* change color of all paragraphs and lists */
p, li {
    color:green;
}
/* target child elements */
section h1{ /* 0,0,0,2 */
    color:darkred;
}

/* style a class */
.secondary-heading{ /* 0,0,1,0 */
    color:purple;
}

/* style an id */
#main-section{ /* 0,1,0,0 */
    color:pink;
    font-weight:bold;
}
/* LVHA */
a:link{
    color:red;
}

a:visited {
    color:gray;
}

a:hover {
    color: black;
}

a:active{
    color:white;
}

a[href="http://algonquincollege.com"] {
    color:green;
}