body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    font-size: 18px;

}
body{
    color: black;
}
header{
    color: lightpink;
}

header, footer{
    background-color: cornflowerblue;
}
#my-image{
    box-shadow: black;
    
}
ul li:nth-child(odd){
    background-color: goldenrod;
}